<div class="container">
  <mat-toolbar color="primary">Search for book</mat-toolbar>

  <div class="search-container">
    <mat-form-field class="search-input">
      <mat-label>Enter your book</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="searchFormBook">
      <mat-hint> Enter at least 2 characters to search</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select [formControl]="sortControl">
        <mat-option value="newest">Newest</mat-option>
        <mat-option value="az">A-Z</mat-option>
        <mat-option value="za">Z-A</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="progress-container">
    @if (loading()) {
      <mat-progress-bar mode="indeterminate" color="primary" />
    }
  </div>
  <div class="card-container">
    @for (book of books(); track book.id) {
      <app-card 
        [bookTitle]="book.title" 
        [bookDescription]="book.description"
        [searchValue]="searchFormBook.value">
      </app-card>
    } @empty {
      <p>No books found</p>
    }
  </div>
</div>
