.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;

  .search-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .search-input {
      flex: 1;
      min-width: 20rem;
    }
  }

  .progress-container {
    height: 1rem;
  }

  .card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
